__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

.venv/
venv/
env/

.ipynb_checkpoints/

results/
experiments/logs/
*.log

.DS_Store
Thumbs.db

models/trained_weights/
models/checkpoints/
models/exported_models/
